<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact</title>
        <link rel="stylesheet" href="../css/Style.css">
    </head>
    <body class="contact with-title">
        <div class="content">
            <h1>Contact Us</h1>
            <h2>Webchat Opening Hours</h2>
            <ul>
                <li>Monday to Friday, 8am to 7pm</li>
                <li>Saturdays, 8am to to 2px</li>
                <li>Public holidays, Closed</li>
            </ul>
            <p>
                Outside of opening hours there is an automated services which can help with
                <br>
                generals information only. If you are happy to continue,
                <br>
                please click 'Start Chat'.
            </p>
            <p>
                You can keep a transcript of your chat by clicking the 'Save Chat' button in the top
                <br>
                left of the chat screen.
            </p>
            <h2>Things you can not do via webchat</h2>
            <ul>
                <li>Make a payment</li>
                <li>Set up or amend a direct debit</li>
            </ul>
            <button>submit a ticket</button>
            <ul>
                <li>Monday to Friday, 8am to 7pm</li>
                <li>Saturdays, 8am to to 2px</li>
                <li>Public holidays, Closed</li>
            </ul>
            <p>
                You can also find more information at
                <a href="https://www.eu.com" style="font-size: .8em; text-transform: lowercase; text-decoration: underline;"><i>https://www.eu.com</i></a>
            </p>
        </div>
    </body>
</html>